# SERVER CONFIGURATION
export SERVER_PORT=8000

# REPOSITORY CONFIGURATION
export MONGO_PORT=27017
export MONGO_HOST=localhost
export MONGO_DATABASE_NAME=creatly_task
export MONGO_USER_COLLECTION=users
export MONGO_FILES_COLLECTION=files
export MONGO_TOKENS_COLLECTION=tokens

# UPLOADED FILES CONFIGURATION
export FILE_LIMIT=1000000

# S3 CONFIGURATION
export STORAGE_SECRETKEY=<YOUR SECRET KEY>
export STORAGE_ACCESSKEY=<TOUR ACCESS KEY>
export STORAGE_BUCKETNAME=<YOUR BACKET NAME>
export STORAGE_REGION=<BUCKET REGION>
export STORAGE_TIMEOUT="60s"